<ion-header>
    <ion-toolbar>
       <ion-button style="text-align:left;" size="small" routerLink="" routerLinkActive="active" >Atras</ion-button>
      <ion-title>
          Hospital del Salvador
      </ion-title>
    </ion-toolbar>
  </ion-header> 
  
  <ion-content>

  <!-- List of Text Items -->
  <ion-searchbar autocomplete="on" placeholder="Buscar Tipo de cirugía"></ion-searchbar>
  <ion-list>
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png"> 
          </ion-avatar>
      <ion-label> &nbsp;&nbsp;&nbsp;  Hernia Inguinal</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png"> 
          </ion-avatar>
      <ion-label>&nbsp;&nbsp;&nbsp; Cálculos a la vesícula</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png">  
          </ion-avatar>
      <ion-label>&nbsp;&nbsp;&nbsp; Hemorroides</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png"> 
          </ion-avatar>
      <ion-label>&nbsp;&nbsp;&nbsp; Cancer de Tiroides</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png"> 
          </ion-avatar>
      <ion-label>&nbsp;&nbsp;&nbsp; Cirugía Colorectal</ion-label>
    </ion-item>
  
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png"> 
          </ion-avatar>
      <ion-label> &nbsp;&nbsp;&nbsp;  Hernia Inguinal</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png"> 
          </ion-avatar>
      <ion-label>&nbsp;&nbsp;&nbsp; Cálculos a la vesícula</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png">  
          </ion-avatar>
      <ion-label>&nbsp;&nbsp;&nbsp; Hemorroides</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png"> 
          </ion-avatar>
      <ion-label>&nbsp;&nbsp;&nbsp; Cancer de Tiroides</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <img src="https://cdn.icon-icons.com/icons2/794/PNG/512/1-80_icon-icons.com_65644.png">  
          </ion-avatar>
      <ion-label>&nbsp;&nbsp;&nbsp; Cirugía Colorectal</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
  <!-- List of Input Items 
  <ion-list>
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>-->
  
  <!-- List of Sliding Items
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
  
  </ion-content>
  